body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Arial, sans-serif;
    background-image: url('../background.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*min-height: 100vh;*/ 
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: black;
}

.headercontainer {
    display: flex;
    width: 1000px;
    justify-content: space-between;     
}

.name {
    color: rgb(0, 153, 255);
}

.other {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.maincontainer {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.welcomeContainer {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 153, 255);
}

.aboutContainer {
    text-align: center;
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

.educationContainer {
    text-align: center;
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

.projectsContainer {
    text-align: center;
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

.programmingContainer {
    text-align: center;
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

.goalsContainer {
    text-align: center;
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}


.contactContainer {
    text-align: center;
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

.footer {
    background-color: black;
    padding-top: 40px;
    margin-top: auto; 
}

.welcomeText {
    margin: 0;
}