body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Arial, sans-serif;
    background-image: url('../background3.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*min-height: 100vh;*/ 
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: black;
    position: sticky; /*Fixed header*/
    top: 0;
}

.headerContainer {
    display: flex;
    width: 1000px;
    justify-content: space-between;     
}

#name {
    color: rgb(0, 153, 255);
}

.other {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.amLink:link, .edLink:link, .projLink:link, .progLink:link, .skillsLink:link, .goalsLink:link, .contLink:link {
    color: white;
    text-decoration: none;
}

.amLink:visited, .edLink:visited, .projLink:visited, .progLink:visited, .skillsLink:visited, .goalsLink:visited, .contLink:visited {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

.amLink:hover, .edLink:hover, .projLink:hover, .progLink:hover, .skillsLink:hover, .goalsLink:hover, .contLink:hover {
    color: white;
    text-decoration: none;
}

.mainContainer {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.welcomeContainer {
    text-align: center;
    font-size: 40px;
    color: black;
}

.welcomeText {
    margin: 0;
}

.aboutContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
}

.aboutContainer:hover {
    border: solid black;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
    color: black;
}

#about {
    text-align: center;
}

.aboutBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutTextContainer {
    background-color: white;
    border-radius: 10px;
    border: solid black;
    padding: 10px;
}

.educationContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
}

.educationContainer:hover {
    border: solid black;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
    color: black;
}

.projectsContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    height: 500px;
    align-self: center;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
}

.projectsContainer:hover {
    border: solid black;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
    color: black;
}

/*.projectsContainer:hover .project1 {
    border: solid black;
}

.projectsContainer:hover .project2 {
    border: solid black;
}*/

#projects {
    text-align: center;
}

.innerProjectsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.innerProjectsContainer > * {
    width: 206px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.project1 {
    background-image: url('../chessgameicon.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}

.project2 {
    background-image: url('../weatherappicon.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}

.project3 {
    background-image: url('../3dgameicon.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}

.project1, .project2, .project3 {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid white;
    border-width: thick;
    transition: all 0.07s;
}

.project1:hover, .project2:hover, .project3:hover {
    transform: scale(1.1);
    border: solid rgb(0, 153, 255);
}

/*.projectsHover {
    transform: scale(1.1);
    border: solid rgb(0, 153, 255);
}*/

.project1Subtext, .project2Subtext, .project3Subtext {
    height: 40px;
}

.project1Desc, .project2Desc, .project3Desc {
    font-size: 14px;
    height: 70px;
}

.project1GitHubLinkContainer, .project2GitHubLinkContainer, .project3GitHubLinkContainer {
    height: 50px;
    display: flex;
    justify-content: center;
}

.project1GitHubLink, .project2GitHubLink, .project3GitHubLink {
    width: 50px;
    background-image: url('../github-original.svg');
}

.programmingContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
}

.programmingContainer:hover {
    border: solid black;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
    color: black;
}

.otherSkillsContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
}

.otherSkillsContainer:hover {
    border: solid black;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
    color: black;
}

.goalsContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
}

.goalsContainer:hover {
    border: solid black;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
    color: black;
}

#goals {
    text-align: center;
}

.contactContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
    display: none;
}

.contactContainer:hover {
    border: solid black;
    background-image: linear-gradient(to bottom right, rgb(110, 226, 245), rgb(0, 153, 255));
    color: black;
}

.backToTopContainer {
    display: flex;
    justify-content: center;
}

.backToTopLink {
    display: block;
    background-image: url('../UpArrow.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center; 
    width: 125px;
    height: 125px;
    border: solid white;
}

.backToTopLink:hover {
    border: solid rgb(0, 153, 255);
}

.footer {
    background-color: black;
    padding-top: 40px;
    margin-top: auto; 
}

.mainContainer, .aboutContainer, .educationContainer, .projectsContainer, .project1, .project2, .project3, .programmingContainer, .otherSkillsContainer, .goalsContainer, .contactContainer, .backToTopLink {
    border: solid black;
}
