body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*min-height: 100vh;*/ /*From https://stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing */
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 157, 41);
}

.headercontainer {
    display: flex;
    width: 1000px;
    justify-content: space-between;     
}

.other {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.welcome {
    text-align: center;
}

.footer {
    background-color: rgb(235, 157, 41);
    padding-top: 40px;
    margin-top: auto; /*From https://stackoverflow.com/questions/72340370/how-to-make-footer-stay-at-the-bottom-of-page-despite-theres-not-enough-of-cont */
}

.welcomeText {
    margin: 0;
}