body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Arial, sans-serif;
    background-image: url('../background.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*min-height: 100vh;*/ 
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: black;
}

.headerContainer {
    display: flex;
    width: 1000px;
    justify-content: space-between;     
}

#name {
    color: rgb(0, 153, 255);
}

.other {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.amLink:link, .edLink:link, .projLink:link, .progLink:link, .goalsLink:link, .contLink:link {
    color: white;
    text-decoration: none;
}

.amLink:visited, .edLink:visited, .projLink:visited, .progLink:visited, .goalsLink:visited, .contLink:visited {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

.amLink:hover, .edLink:hover, .projLink:hover, .progLink:hover, .goalsLink:hover, .contLink:hover {
    color: white;
    text-decoration: none;
}

.mainContainer {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.welcomeContainer {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 153, 255);
}

.welcomeText {
    margin: 0;
}

.aboutContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

#about {
    text-align: center;
}

.aboutBody {
    display: flex;
    justify-content: space-between;
}

.educationContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

#education {
    text-align: center;
}

.projectsContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    height: 500px;
    align-self: center;
}

#projects {
    text-align: center;
}

.innerProjectsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.project1, .project2 {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid white;
    border-width: thick;
    transition: all 0.07s;
}

.project1:hover, .project2:hover {
    transform: scale(1.1);
    border: solid rgb(0, 153, 255);
}

/*.projectsHover {
    transform: scale(1.1);
    border: solid rgb(0, 153, 255);
}*/

.innerProjectsContainer > * {
    width: 200px;
    text-align: center;
}

.programmingContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

#programming {
    text-align: center;
}

.goalsContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

#goals {
    text-align: center;
}


.contactContainer {
    border-radius: 5px;
    border: solid white;
    width: 1000px;
    align-self: center;
}

#contact {
    text-align: center;
}

.backToTopContainer {
    display: flex;
    justify-content: center;
}

.backToTopLink {
    display: block;
    background-image: url('../UpArrow.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center; 
    width: 125px;
    height: 125px;
    border: solid white;
}

.backToTopLink:hover {
    border: solid rgb(0, 153, 255);
}

.footer {
    background-color: black;
    padding-top: 40px;
    margin-top: auto; 
}

